@import './reset.css';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  border:1px solid #000;
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 12px;
  background-color: #FFFFFB;
}

.header .brand {
  width: 20x;
  height: 20px;
}

.header .nav {
  display: flex;
  border: blue;
}
.header .nav .nav__item {
margin-right: 36px;
}
.header .nav .nav__item:last-child {
margin-right: 0px;
}

.header .nav .nav__link{
position: relative;
font-size: 20px;
color:#F4A7B9;
}

.header .nav .nav__link:hover {
  color: #FEDFE1;
}

/* 按有底線 */
.header .nav .nav__link::before {
  content: '';
  display: block;
  background-color:#F4A7B9;
  width: 0%;
  height: 2px;
  position:absolute;
  left:0;
  bottom:0;
  transition: all.3s;
}

.header .nav .nav__item:hover .nav__link::before {
  width: 100%;
}

#banner {
  height: 1500px;
  background-image: url('../images/banner.jpg');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  width: 1150px;
  margin:0 auto;
  border:1px solid #000;
}

.row {
display: flex;
margin: 0 -20px;
border: 1px solid blue;
}

.col-4 {
  width: 33.33333%;
  padding: 0 20px;
  border: 1px solid red;
}

#product .product__card {
  height: 470px;
  background-color: #F4A7B9;
}

.rectangle-1{
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1;
width: 200px;
height: 100px;
line-height: 100px;
text-align: center;
background: #F4A7B9;
color: #FFF;
z-index: 1;
}

.rectangle-2 {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #DB4D6D;
  color: #FFF;
}

.rectangle-3 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #BF6766;
  color: #FFF;
}

